[submodule ".zprezto"]
	path = .zprezto
	url = git://github.com/tokiclover/zprezto.git
[submodule ".vim/plugin/vim-scriptease"]
	path = .vim/plugin/vim-scriptease
	url = git://github.com/tpope/vim-scriptease.git
