[submodule "zprezto"]
	path = .zprezto
	url = git://github.com/tokiclover/zprezto.git
[submodule "vim-scriptease"]
	path = .vim/plugin/vim-scriptease
	url = git://github.com/tpope/vim-scriptease.git
[submodule "pentadactyl-solarized"]
	path = .pentadactyl/modules/solarized
	url = git://github.com/claytron/pentadactyl-solarized.git
