polkit.addAdminRule(function(action, subject) {
    return ["unix-group:wheel"];
}); 

}); polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.*" &&
        subject.group == "wheel") {
        return polkit.Result.YES;
    }
});
